<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
</footer>
<script>
  const userPrefers = getComputedStyle(document.body).getPropertyValue('content');
  //Set matching button text  and store user preferred mode in localstorage 
  if (theme === "dark") {
     document.getElementById("toggle-theme").innerHTML = "Light Mode";
  } else if (theme === "light") {
    document.getElementById("toggle-theme").innerHTML = "Dark Mode";
  } else if  (userPrefers === "dark") {
    document.body.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
    document.getElementById("toggle-theme").innerHTML = "Light Mode";
  } else {
    document.body.setAttribute('data-theme', 'light');
    localStorage.setItem('theme', 'light');
    document.getElementById("toggle-theme").innerHTML = "Dark Mode";
  }
  // function when button is pressed
 function switchMode() {
 let currentMode = document.body.getAttribute('data-theme');
 if (currentMode === "dark") {
   document.body.setAttribute('data-theme', 'light');
   localStorage.setItem('theme', 'light');
   document.getElementById("toggle-theme").innerHTML = "Dark Mode";
 } else {
   document.body.setAttribute('data-theme', 'dark');
   localStorage.setItem('theme', 'dark');
   document.getElementById("toggle-theme").innerHTML = "Light Mode";
 }
 }
</script>
