---
---

@import "minima";

html,
html[data-theme="light"] {
  --main-background-color: #f2f1f1;
  --main-text-color: #000000;
}

html[data-theme="dark"] {
  --main-background-color: #2a314c;
  --main-text-color: #d1c7c7;
  a {
    color: #5d79ff;
  }
  a:hover {
    color: #61dafb;
    text-decoration: underline;
  }
}

body {
  background: var(--main-background-color);
  color: var(--main-text-color);
}

.site-header {
  border-top: none;
  border-bottom: 1px solid #424d75;
}

.site-title,
.site-title:visited,
.site-nav .page-link {
  color: var(--main-text-color);
}

.site-footer {
  border-top: 1px solid #424d75;
}

button {
  background: none;
  border: none;
  font-size: 1.2em;
  margin: 0 1em;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}
